name: "Build & Push to Dockerhub"

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/demo-app-frontend-frontend:latest
            ${{ vars.DOCKERHUB_USERNAME }}/demoapp-frontend:${{ github.sha }}
          

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/demoapp-backend:latest
            ${{ vars.DOCKERHUB_USERNAME }}/demoapp-backend:${{ github.sha }}
          
